.schedule-exam-container {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    .schedule-exam-container h2 {
        margin-bottom: 20px;
    }

    .schedule-exam-container form div {
        margin-bottom: 15px;
    }

    .schedule-exam-container form input {
        padding: 8px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
    }

    .schedule-exam-container button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }

        .schedule-exam-container button:hover {
            background-color: #0056b3;
        }
