/* Container Principal */
.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #488098; /* Fundal albastru */
    color: white;
}

    /* Titlu */
    .signup-container h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    /* Formular */
    .signup-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 400px;
    }

    /* Input */
    .signup-container input {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
    }

    /* Buton */
    .signup-container .signup-btn {
        padding: 12px;
        width: 100%;
        background-color: #3b5998;
        color: white;
        font-size: 1.2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .signup-container .signup-btn:hover {
            background-color: #2d4373;
        }
