.user-management {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.controls {
    display: flex;
    gap: 10px;
    /*margin-bottom: 15px;*/
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .user-table th,
    .user-table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }
        .user-table td button {
            gap: 10px;
            width: 50%;
        }
    .user-table th {
        background-color: #f4f4f4;
    }

.user-management-button {
    padding: 5px 10px;
    cursor: pointer;
}
