.calendar-container {
    display: flex;
    gap: 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 20px;
    max-width: 400px;
    flex-grow: 1;
}

.calendar-day {
    color: black;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .calendar-day:hover {
        background-color: #e0e0e0;
    }

.day-detail {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-basis: 300px;
    max-width: 300px;
    height: 300px;
    overflow-y: auto;
}

.events-list {
    margin-bottom: 15px;
}

.event-item {
    background-color: #f9f9f9;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
}

.calendar-day.has-exam {
    background-color: #007bff; /* Albastru */
    color: white; /* Text alb */
    border-radius: 50%; /* Cerc */
    font-weight: bold;
}

add-event-button {
    background-color: #007bff;
    color: black;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    add-event-button:hover {
        background-color: #0056b3;
    }
