/* Calendar Styles */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

button {
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

h2 {
    font-size: 24px;
}

.calendar-weekdays {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.weekday {
    width: 14%;
    text-align: center;
    font-weight: bold;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .calendar-day.current-month {
        background-color: #fff; /* Zilele din luna curentă au fundal alb */
        color: #000; /* Textul pentru zilele din luna curentă */
    }

    .calendar-day.other-month {
        background-color: #f0f0f0; /* Zilele din alte luni au fundal gri deschis */
        color: #ccc; /* Textul pentru zilele din alte luni */
        opacity: 0.6; /* Zilele din alte luni sunt mai slabe vizual */
    }

    .calendar-day.has-exam {
        border: 2px solid #ff6347; /* Zilele cu examene sunt marcate cu bordură roșie */
    }

    .calendar-day.selected {
        background-color: #007bff; /* Ziua selectată are fundal albastru */
        color: #fff; /* Text alb pentru ziua selectată */
    }

/* Detalii zi */
.day-detail-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
}

    .day-detail-container h3 {
        font-size: 18px;
    }

    .day-detail-container p {
        font-size: 16px;
    }
