.data-management {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.controls {
    display: flex;
    gap: 10px;
    /*margin-bottom: 15px;*/
}

.data-management-button {
    padding: 5px 10px;
    cursor: pointer;
}
