.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-grow: 1;
    flex: 1;
    height: 10%;
    justify-content: space-between;
    align-items: center;
}

.main {
    flex-grow: 1;
    height: 100%;
}
